<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-ng-content>
    <div class="titulo">
        Título do painel
    </div>
    <div class="corpo">
        Conteudo passado para o component
    </div>
</app-ng-content> -->

<app-diretivas-customizadas></app-diretivas-customizadas>